.main-aside {
    min-width: 400px;
    padding: 18.7px 10px 0 10px;


    &-search {
        display: flex;
        justify-content: space-between;
        background-color: darken($color-white, 1%);
        border-radius: 20px;
        border: 1px solid $color-secondary;
        overflow: hidden;

        &:hover {
            border: 1px solid lighten($color-secondary, 30%);
        }

        &-field {
            background: none;
            outline: none;
            border: none;
            margin-left: 10px;
            padding-left: 10px;
            width: 273px;
        }
    }
    &-themes {
        &-caption {
            text-align: center;
        }

        &-list {
            list-style-type: none;
            padding: 0;

            &-item-link {
                display: block;
                margin-bottom: 5px;
                background-color: fade-out($color-secondary, 0.5);
                padding: 10px;
                text-decoration: none;
                color: $color-black;

                &:hover {
                    background-color: fade-out($color-secondary, 0.7);
                }

                &:active {
                    background-color: fade-out($color-secondary, 0.3);
                }
            }
        }
    }

    &-recommendations {
        &-caption {
            text-align: center;
        }

        &-list {
            list-style-type: none;
            padding: 0;

            &-item-link {
                display: block;
                margin-bottom: 5px;
                background-color: fade-out($color-secondary, 0.5);
                padding: 10px;
                text-decoration: none;
                color: $color-black;

                &:hover {
                    background-color: fade-out($color-secondary, 0.7);
                }

                &:active {
                    background-color: fade-out($color-secondary, 0.3);
                }
            }
        }
    }
    
    &-most-popular {
        &-caption {
            text-align: center;
        }

        &-list {
            list-style-type: none;
            padding: 0;

            &-item-link {
                display: block;
                margin-bottom: 5px;
                background-color: fade-out($color-secondary, 0.5);
                padding: 10px;
                text-decoration: none;
                color: $color-black;

                &:hover {
                    background-color: fade-out($color-secondary, 0.7);
                }

                &:active {
                    background-color: fade-out($color-secondary, 0.3);
                }
            }
        }
    }
    &-advertisments {
        margin-bottom: 20px;
        
        &-caption {
            text-align: center;
        }

        &-item {
            width: 300px;
            height: 450px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: fade-out($color-secondary, 0.6);
        }
    }
}