.main-article {
    background-color: $color-white;
    width: 700px;
    margin-bottom: 40px;
    box-shadow: 5px 4px 24px -3px fade-out($color-black, 0.5);
    padding-top: 10px;

    &-caption {
        margin: 0 0 20px 10px;
    }

    &-img {
        margin-bottom: 10px;
    }

    &-text {
        margin: 0 10px 15px 10px;
    }

    &-button {
        margin: 0 0 20px 10px !important;
    }

    &-info {
        background-color: fade-out($color-black, 0.85);
        box-sizing: border-box;
        padding: 5px;

        &-author {
            margin: 0;
            font-weight: 400;
            font-size: 17px;
        }

        &-date {
            font-weight: 300;
            font-size: 14px;
        }
    }
}